<!DOCTYPE html>
<html lang="en" ng-app="superCoolApp">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/database/superCoolApp.database.js"></script>
        <script type="text/javascript" src="js/superCoolApp.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    </head>
    
    <body>
    <div class="container">
        <div class="jumbotron"><h1>Super Cool App</h1><p>The superest cool app!</p></div>
            <div class="row">
              <div ng-controller="FeaturesController as featureCtrl">
                <div class="col-sm-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="feature in featureCtrl.data.features" ng-click="featureCtrl.test($index)">
                            <a><h3>{{feature.name}}</h3></a>
              
                        
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div ng-repeat="feature in featureCtrl.data.features" ng-show="featureCtrl.tab === $index">
                        <h3>{{feature.name}}</h3>
                        <p>{{feature.description}}</p>
                        <div ng-click="featureCtrl.addUpVote()">Upvote!</div>
                        <div ng-click="featureCtrl.addDownVote()">Downvote!</div>
                        <section class="well well-sm" ng-repeat="comment in feature.featureComments">
                            <p>{{comment.commentText}}</p>
                            <p>-{{comment.user}} on {{comment.dateCreated | date : 'medium'}}</p>
                        </section>
                    
                        <form role="form" ng-submit="featureCtrl.submitComment()" novalidate>
                            <input type="text" class="form-control" placeholder="Username..." ng-model="featureCtrl.comment.user" />
                            <textarea class="form-control" ng-model="featureCtrl.comment.commentText" placeholder="Comment text..." ></textarea>
                            <input type="submit" value="Submit" class="btn btn-default"/>
                        </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </body>
</html>