<!DOCTYPE html>
<html lang="en" ng-app="superCoolApp">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/database/superCoolApp.database.js"></script>
        <script type="text/javascript" src="js/superCoolApp.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    </head>
    
    <body>
    <div class="container">
        <div class="jumbotron"><h1>Super Cool App</h1><p>The superest cool app!</p></div>
            <div class="row">
              <div ng-controller="FeaturesController as featureCtrl">
                <div class="col-sm-4">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="feature in featureCtrl.data.features" ng-click="featureCtrl.changeTab($index)">
                            <a><h3>{{feature.name}} ({{feature.totalVotes}})</h3></a>
              
                        
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div ng-repeat="feature in featureCtrl.data.features track by $index" ng-show="featureCtrl.tab === $index">
                        <h3>{{feature.name}}</h3>
                        <p>{{feature.description}}</p>
                        <div class="progress" ng-show="{{(feature.downVotes + feature.upVotes) > 0}}">
                            <div class="progress-bar progress-bar-danger" style="width:{{feature.downVotes / (feature.upVotes + feature.downVotes) * 100}}%">{{feature.downVotes}}</div>
                            <div class="progress-bar progress-bar-success" style="width:{{feature.upVotes / (feature.upVotes + feature.downVotes) * 100}}%">{{feature.upVotes}}</div>
                        </div>
                        
                        <ul class="list-inline">
                            <li class="" ng-click="featureCtrl.addDownVote(feature._id)"><a href="#" class="btn btn-danger btn-md"><span class="glyphicon glyphicon-chevron-down"></span> Downvote!</a></li>
                            <li class="" ng-click="featureCtrl.addUpVote(feature._id)"><a href="#" class="btn btn-success btn-md"><span class="glyphicon glyphicon-chevron-up"></span> Upvote!</a></li>
                        </ul>
                                                
                        <section class="well well-sm" ng-repeat="comment in feature.comments">
                            <p>{{comment.commentText}}</p>
                            <p>-{{comment.user}} on {{comment.dateCreated | date : 'medium'}}</p>
                        </section>
                    
                        <form role="form" ng-submit="featureCtrl.submitComment(feature._id)" novalidate>
                            <input type="text" class="form-control" placeholder="Username..." ng-model="featureCtrl.comment.user" />
                            <textarea class="form-control" ng-model="featureCtrl.comment.commentText" placeholder="Comment text..." ></textarea>
                            <input type="submit" value="Submit" class="btn btn-default"/>
                        </form>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </body>
</html>